<!DOCTYPE html>
<html>
<head>
	<title>Phong Kham Ngoai Khoa</title>
	<meta charset="UTF-8"/>
	
<body>
	
	<header>
		
		<div class="container">
			<img src="../images/logo.png">
			<div>
				<h3>Phòng Khám Chuyên Khoa</h3>
				<p>Vật lý trị liệu - Phục hồi chức năng</p>

			</div>
			<div>
				<img src="../images/icon-phone.png" >
				<span>Câu hỏi bác sĩ</span>
				<span>0511386592</span>
			</div>

		
		</div>
		<nav>
			<div class="container">
				<ul class="my_nav" >
					<li><a>TRANG CHỦ</a></li>
					<li><a>GIỚI THIỆU</a></li>
					<li><a>DỊCH VỤ Y TẾ</a></li>
					<li><a>Y HỌC THỬỞNG THỨC</a></li>
					<li>
						<a href=""><img src="../images/icon-facebook.png"></a>
						<a href=""><img src="../images/google.png"></a>
						<a href=""><img src="../images/icon-youtube.png"></a>
					</li>	
				</ul>
			</div>
			
		</nav>
		<div>
			<img src="../images/banner.jpg" width="100%" />	
			<div class="container">
				<a href="">
					<h2>
						Trang chủ | Dịch vụ y tế
					</h2>
				</a>
			</div>
				
		</div>
		
	</header>
	<main>
		<div class="">
				<aside>
					<div class="my_panel_header">
						<h2>Người lớn</h2>
					</div>
					<div>
						<ul>
							<li> Đau cổ</li>	
							<li> Dau cổ</li>
							<li> Dau cổ</li>
							<li> Dau cổ</li>
							<li> Dau cổ</li>
						</ul>
					</div>
					<div class="my_panel_header">
						<h2>Trẻ em</h2>
					</div>
					<div>
						<ul>
							<li> Đau cổ</li>	
							<li> Dau cổ</li>
							<li> Dau cổ</li>
							<li> Dau cổ</li>
							<li> Dau cổ</li>
						</ul>
					</div>
					<div class="my_panel_header">
						<h2>Đặt lịch khám</h2>
					</div>
					<div>
						<form>
							<input type="text" name="name" placeholder="Họ & Tên"><br/>
							<input type="text" name="name" placeholder="Địa Chỉ"><br/>
							<input type="text" name="name" placeholder="Số điện thoại"><br/>
							<input type="date" name="name" placeholder="Thời gian"><br/>
							<input type="submit" name="name" value="ĐẶT LỊCH">
						</form>
					</div>
				</aside>
				
				<div>
					<div>
						<div class="my_item">
							<div>
								<a href="">
								<img src="../images/new-1.jpg">
								</a>
								<div>
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href=""></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</div>
						<div class="my_item">
							<div>
								<a href="">
								<img src="../images/new-2.jpg">
								</a>
								<div>
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href=""></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</div>
						<div class="my_item">
							<div>
								<a href="">
								<img src="../images/new-3.jpg">
								</a>
								<div>
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href=""></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</div>
						<div class="my_item">
							<div>
								<a href="">
								<img src="../images/new-4.jpg">
								</a>
								<div>
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href=""></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</div>
						<div class="my_item">
							<div>
								<a href="">
								<img src="../images/new-5.jpg">
								</a>
								<div>
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href=""></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</div>
						<div class="my_item">
							<div>
								<a href="">
								<img src="../images/new-6.jpg">
								</a>
								<div>
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href=""></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</div>
						<div class="my_item">
							<div>
								<a href="">
								<img src="../images/new-7.jpg">
								</a>
								<div>
									<a href=""><h3>Đau cổ vai tay</h3></a>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mâgn</p>
								</div>
								<a href=""></a>
								<!-- <img style="position: absolute;right: 0px;bottom: 0px;background-color: blue" src="../images/arrow-right.png"/>  -->
							</div>
							
						</div>
					</div>
					
					
				</div>
		</div>
	</main>
	<footer>
		<div>
			<div class="container clearfix">
				<section>
					<h3>Về Phòng Khám</h3>
					<ul>
						<li>Giới thiệu chung</li>
						<li>Nhân lực</li>
						<li>Trang thiết bị và cở sở vật chất</li>
					</ul>
				</section>
				<section>
					<h3>Hỗ Trợ</h3>
					<ul>
						<li>Tư vấn sức khoẻ</li>
						<li>Y học thưòng thức</li>
						<li>Dặt lịch khám</li>
					</ul>
				</section>
				<section>
					<h3>Kết Nối Xã Hội</h3>	
					<ul>
						<li>FACEBOOK</li>
						<li>GOOGLE</li>
						<li>YOUTUBE</li>
					</ul>
				</section>
			</div>
		</div>
	</footer>
</body>
</html>